html,body {
	width: auto;
	min-height: 500px;
	/* background-image:; */
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.navbar-inner {
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
}
.nulli {
    display: inline-block;
    margin: 10px;


}

.nullia {


    text-emphasis-color: black;
    text-decoration: none;
    padding: 5px 20px;
    border: 4px;
    border-radius: 4px;
    border: 1px solid rgb(255, 255, 255);
}
.nullia:hover {
    text-decoration: none;
    padding: 5px 30px;
    border: 1px;
    background-color: #964050;
    border-top: 10px;
    transition: 0.3s ease;
    box-shadow: -10px 10px 15px rgb(0, 0, 0);
    border-radius: 4px;
    text-emphasis-color: black;
}
.activee
{
    background-color: #964050;
    border-radius: 4px;
    padding: 5px 1px ;
    margin-top: 5px;
    
}

.bg-pink {
    background: #FDEEF4;
}


.drk:after
{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    background: #000;
    opacity: 0.2;
}
  /* not active */
  .nav-pills .pill-1 .nav-link:not(.active) {
    /* background-color: rgba(0, 140, 255, 0.5); */
    /* background-color: #964050; */
    background-image: linear-gradient(#964050,rgb(46, 44, 44));
    color: white;
}

.nav-pills .pill-2 .nav-link:not(.active) {
    /* background-color: rgba(255, 0, 0, 0.5); */
    background-image: linear-gradient(#964050,rgb(46, 44, 44));
    color: white;
}

/* active (faded) */
.nav-pills .pill-1 .nav-link {
    /* background-color: rgba(255, 0, 0, 0.2); */
    background-image: linear-gradient(#0275d8,rgb(46, 44, 44));
    /* background-color: #0275d8; */
    color: white;
}

.nav-pills .pill-2 .nav-link {
    /* background-color: rgba(255, 0, 0, 0.2); */
    background-image: linear-gradient(#0275d8,rgb(46, 44, 44));
    color: white;
}

.card{
    margin-left: 200px;
    margin-right: 200px;
}
.title
{
	position:bottom;
	top:50%;
	left:50%;
    transform: translate(-50%,-50%);

}
.sub input[type="submit"]
{
	margin-top: 60px;
	border:none;
	width: 15%;
	height: 35px;
 	background-image: linear-gradient(blue,rgb(88, 88, 182));
	color: white;
	font-size: 15px;
	text-align: center;
	border-radius: 20px;
	box-shadow: -10px 10px 20px black;
}

 .sub input[type="submit"]:hover
 {
 	background:red;
 	cursor:pointer;
 }
 .about-us
 {
     width: auto;
     min-height: 500px;
     background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/v.jpg);
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
 }
 .about-us h1
 {
     margin: 0px;
     text-align: center;
     color:white;
     padding-top: 40px;
     padding-bottom: 5%;
 }
 .button
{
	position: absolute;
	top:100%;
	left:50%;
	transform: translate(-50%,-50%);
}
.btn
{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgba(51, 29, 29, 0.64);
	transition: 0.6s ease;
}
.btn:hover
{
  background-color: #fff;
	color: #000;
}
/* .footer
{
	clear: both;
    width: auto;
	min-height: 320px;
	position: relative;

}
.widget-footer
{
	width: 100%;
	min-height: 240px;
	margin: 0px auto;
	margin: 25px;

}
.wids
{

    width: 90%;
	min-height: 220px;
   padding: 2.5%;
} */

.underline
{

	color: white;
	border-bottom: 1px solid white;
    font-size: 20px;
    padding: 5px;
}


.facebook img
{
	 width: 20%;
	height: auto;
   padding: 2.5%;
   float: left;
}
.widgets .facebook img
{
	margin: 5px;
}
 .widgets
{
    width: 80%;
    margin-left: 25px;
    margin-top: 30px;
	min-height: 220px;
   padding: 2.5%;
   float: center;
}


.bg-black
{
    background-color: #000;
}